<div class="row page-row">

    <div class="col-md-4">
            
        <div style="text-align:center">
            About (with fa info icon) 
        </div>
        
    </div>

    <div class="col-md-4">
            
        <div style="text-align:center">
            <%= image_tag "hawk-logo.png" %> 
        </div>
        
    </div>
        
    <div class="col-md-4">
            
        <div style="text-align:center">
            Features (mobile friendly and account benefits)
        </div>
        
    </div>

</div>
