<div class="row page-row" id="index-row" style="margin-top:50px;">

    <div class="col-md-4 col-md-push-4">
            
        <div style="text-align:center;">
            <%= image_tag "logo.png" %> 
        </div>
    
        <hr class="star-primary" style="display:visible">    
    </div>

    <div class="col-md-4 col-md-pull-4">
        <div class="fp-par">
            <div style="text-align: center;"><h2>About</h2></div>
            <p>Liberty Hawk is congressional bill search application that uses the ProPublica API ‘Search Bills’ endpoint. Other endpoints (more search options) will be added in the future (e.g. ‘Bills by a Subject’ or ‘Upcoming Bills’). The ‘Search Bills’ request returns the 20 most recent bills by keyword. ProPublica’s ‘Get a Specific Bill’ request is used to populate full bill Action and Vote history on the show pages. </p>
            <p>Also, a Bill Status Widget powered by GovTrack.us is incorporated on the show pages for bills and favorites. The information inside this widget does not include anything that isn’t already on the bill show page, but it does provide some useful links. </p>
        </div>
        <hr class="star-primary" style="display:visible">
    </div>
        
    <div class="col-md-4">
            
        <div class="features-info fp-par">
            <div style="text-align: center;"><h2>Features</h2></div>
            <table>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Sort search results by different criteria</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Save (favorite) bills</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Logged in users can see a history of their last ten searches, and rerun them via a link</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Responsive views (Liberty Hawk is designed for use on notebooks and mobile devices). Test it out in different viewports</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Most recent search results are saved and available after the current session is logged out</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star" aria-hidden="true"></i></td>
                    <td>Upcoming Feature! Organize favorites by creating folders and sorting saved bills into them</td>
                </tr>
            </table> 

        </div>
        
    </div>

</div>
