<p></p>
<form action="search" accept-charset="UTF-8" method="get">
  <div class="col-xs-3 nopadding">
    <input type="text" name="subject" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" name="Search" value="Search" class="btn btn-basic" />
  </div>
</form>