<div class="row page-row">
    
    <div class="col-md-4 col-md-push-8">
        <%= render 'form' %>
    </div>

    <div class="col-md-8 col-md-pull-4">

        <% if user_signed_in? && !current_user.bills.first.nil? %>

            <h2>Search Results</h2>
            
            <form id="sort_type" controller="searches" action="sort" method="get" class="form-group">
                <table >
                    <tr valign="middle">
                        <td style="padding-right: 15px"><h3 style="display:inline; color:#e6902a !important;">Sort By</h3></td>
                        <td>
                            <div style="max-width: 130px;">
                                <select name="sort_type" form="sort_type" onchange="this.form.submit()" class="form-control" style="padding: 0 0 0 4px !important;">
                                    <option value="default">Default</option>
                                    <option value="title" <% if current_user.sort == "title" %> selected <% end %>>Title</option>
                                    <option value="active" <% if current_user.sort == "active" %> selected <% end %>>Active Status</option>
                                    <option value="date" <% if current_user.sort == "date" %> selected <% end %> >Date Introduced</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            
            <% if current_user.sort == "title" %>
                <% @bills = current_user.bills.sort_by {|bill| bill.title} %>
            <% elsif current_user.sort == "active" %>
                <% @bills = current_user.bills.sort_by {|bill| bill.status ? 0 : 1} %>
            <% elsif current_user.sort == "date" %>
                <% @bills = current_user.bills.sort_by {|bill| bill.date} %>   
            <% else %>
                <% @bills = current_user.bills %>
            <% end %>
            
            <% @bills.each do |bill| %>
                <%= render 'favorites/new', bill: bill, rdpath: searches_search_path %>
            <% end %>

        <% else %>
            <% if @tempBills %>
            <h2>Search Results</h2>
                <% @tempBills.each do |bill| %>
                
                    <%= render 'favorites/new', bill: bill %><p></p>
                
                <% end %>
            <% end %>
        <% end %>

    </div>
</div>