/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif !important;
    letter-spacing: .5px !important;
}

h2, h5 {
    color: #e6902a !important;
    margin-top: 0 !important;
    /*display: inline-block;*/
}

h5 {
    font-weight: 700 !important;
}

.fa-toggle-on {
    color:#00b900; 
    margin-right:7px;
}

.fa-toggle-off {
    margin-right:7px;
}

@media screen and (max-width: 768px) {
    #large {
        display: none;
    }
    #med {
        display: visible;
    }
}

@media screen and (min-width: 769px) {
    #large {
        display: visible;
    }
    #med {
        display: none;
    }
}

.logo-info {
    background: url(hawk-border.png) no-repeat;
    background-position: center;
    width:300px; 
    height:175px;
    padding-left: 130px;
    padding-top: 15px;
}

.logo-info .fa-star {
    padding-right:5px; 
    color:#d56367;
}

div.logo-info tr {
    vertical-align:top;
}

div.logo-info tr:nth-child(3) {
    text-align: center;
}

div.logo-info tr:nth-child(3) td:last-child {
    padding-top: 10px; 
    padding-right: 20px;
}

div.logo-info p {
    color:#d56367;
    font-weight: bold;
    letter-spacing: .1px;
}

.page-row {
    margin-top: 10px;
}

.bill-link {
    text-decoration: underline;
}


.auth {
    font-family: 'Archivo', sans-serif;
    letter-spacing: .5px;
    font-weight: normal;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.auth-space {
    padding-bottom: 7px;
}

.col-width div.auth {
    max-width:225px;
    width: 225px;
}

.block { 
    min-height:260px;
}

@media screen and (min-width: 992px) {
    .login-border {
        border-right: 2px solid #E0E0E0;
        min-width: 315px;
        margin-right: 15px !important;
    }
}

@media screen and (max-width: 768px) {
    #history {
        display: none;
    }
    #historyTog {
        display: none;
    }
    #historyTogSm {
        display: visible;
    }
}

@media screen and (min-width: 769px) {
    #historyTogSm {
        display: none;
    }
}

.navbar-custom {
    background-color: #5a59a3 !important;
    border-color: #484782 !important;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.navbar-custom .navbar-brand, .navbar-nav  > li > a {
    font-family: 'Archivo', sans-serif;
}

.navbar-custom .navbar-nav  > li > a {
    color: #fff !important;
}

.field {
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .mid-field {
        margin-right: 25px;
    }
}    