// Place all the styles related to the SubjectSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-save {
    background-color: #e46165 !important;
    color: #fff !important;
}

.btn-basic, .btn-save, .btn-unsave {
    font-family: 'Archivo', sans-serif !important;
    letter-spacing: .5px !important; 
}

.btn-save, .btn-unsave {
    margin-top: 15px;
}

#bill-widget {
    border-radius: 5px; 
    padding: 2px; 
    background-color: #f3f1e9; 
    border: 1px solid #dad8d1; 
    max-width: 505px;
    max-height: 205px;
    overflow:hidden;
}

#btn-signup {
    font-family: 'Archivo', sans-serif;
    letter-spacing: .5px;
    background-color: #eeeef8;
    border-color: #d2d2e8;
    color: #312f8c;
    
}

.nopadding {
   padding-left: 0 !important;
   margin: 0 !important;
}

.search-layout td { 
    padding-right: 15px;
    padding-top: 5px;
    vertical-align: top;
}

.last {
    cursor: pointer;
    text-decoration: underline;
}


.bill-layout {
    margin-bottom: 15px;
}

.bill-layout tr:first-child td {
    padding-top: 0 !important;
}

.btn-basic {
    border: 1px solid #B0B0B0 !important;
}